<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.book.zhang.book">

    <application
        android:name="com.book.zhang.base.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--条目详情-->
        <activity android:name=".view.activity.ItemDetailActivity" />
        <activity android:name=".view.activity.BookDetailActivity" />
        <activity android:name=".view.activity.ReadActivity" />

    </application>

</manifest>